:root {
  --vp-c-brand-1: #27272a;
  --vp-c-brand-2: #3f3f46;
  --vp-c-brand-3: #52525b;
  --vp-c-brand-soft: rgba(39, 39, 42, 0.14);
}

.dark {
  --vp-c-brand-1: #d4d4d8;
  --vp-c-brand-2: #a1a1aa;
  --vp-c-brand-3: #71717a;
  --vp-c-brand-soft: rgba(212, 212, 216, 0.14);
}

:root {
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);
}
